[user]
	email = balduindettling@gmail.com
	name = Balduin Dettling
[credential]
	helper = cache --timeout=99999999999
[alias]
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
	l = log --format=oneline --abbrev-commit --graph
	times = log | grep '^Date' | awk '{print $5}' | awk -F':' '{print $1 * 3600 + $2 * 60 + $3}'
	plot  = times | pyplot
